:root {
  /* Color Palette */
  --red: #a01c1cff;
  --green: #819332ff;
  --brown: #5c3e35ff;
  --black: #111111;
  --grey: #35424a;
  --light-gray: #bbbbbb; 
  --white: #f4f4f4;
}

body {
  font-family: Roboto, sans-serif;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  padding: 0;
  margin: 0;
  background-color: var(--white);
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

.button1 {
  height: 38px;
  background: var(--red);
  border: 0;
  color: var(--white);
  margin: 5px;
  padding: 5px;
}

.dark {
  background-color: var(--grey);
  color: var(--white);
  border-style: 1px solid var(--grey);
  border-radius: 5px;
}

/* Header */
#header {
  background: var(--white);
  color: var(--white);
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 70px;
  border-bottom: var(--red) 3px solid;
}

#header .container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 5px 5px;
}

#nav-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}

.nav-link {
  color: var(--red);
  text-decoration: none;
  text-transform: uppercase; 
}

#header img {
  width: 40%;
  max-height: 70px;
}

.nav-link:hover {
  color: var(--green);
  font-weight: bold;
}

/* Banner */
#banner {
  background: url('../img/apples1920x1280.jpg') no-repeat 0 -540px;
  text-align: center;
  color: var(--black);
  border-bottom: var(--red) 3px solid;
  min-height: 700px;
  margin-top: 73px;
}

#banner .container {
  padding: 50px 20px 50px 20px;
}

/* Newsletter */
#newsletter {
  color: var(--black);
  background: var(--white);  
  border-bottom: var(--red) 3px solid;
}

#newsletter .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px 20px 20px;
}

#newsletter form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}

#newsletter input[type="email"] {  
  height: 25px;
  width: 250px;
}

/* Services */
#services {
  border-bottom: var(--red) 3px solid;
}

#services .container {
  padding: 50px 20px 50px 20px;
}

#services article #videodiv {
  text-align: center;
}

/* Prices */
#prices .container {
  padding: 50px 20px 50px 20px;
}

.boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.box {
  border: 1px solid var(--red);
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  margin: 5px;
  flex: 1 1 0;
  min-width: 200px;
  max-width: 200px;
}

.box .boxheader {
  background-color: var(--light-gray);
  color: var(--red);
  border-bottom: 1px solid var(--red);
}

.box h2 {
  font-size: 1.1rem;
} 

.box .boxbody {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  font-size: 1rem;
}

/* Footer */
footer {
  border-top: var(--red) 3px solid;
  color: var(--red);
  background-color: var(--white);
  text-align: center;
  padding: 50px 20px 100px 20px;
}


/* Media Queries */
@media(max-width: 768px) {

  #header .container {
    margin: 0;
    margin: 3% 0 5px 5px;
  }

  #banner {
    background: none;
    background-color: var(--white);
    min-height: 0;
  }

}

@media(max-width: 400px) {
  
  h1 {
    font-size: 1.1rem;
  }
  
  #header .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0 5px 5px;
  }

  .nav-link {
    font-size: 16px;
  }

  #header img {

  }
  
}